<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-4 space-y-6 bg-white rounded shadow-lg">
        <h4 class="text-3xl font-bold text-center text-gray-700">Registre-se grátis!</h4>
        <p class=" text-center text-gray-400">Seja bem vindo! Estamos felizes em te-lo na nossa rede de apoio.</p>

        <form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Nome*</label>
                <input 
                    id="nome" 
                    type="text" 
                    formControlName="nome"
                    name="nome" 
                    class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm" 
                    placeholder="Seu nome" 
                    required
                >
                <div *ngIf="submitted && form.get('nome')?.invalid" class="text-red-600">
                    <small *ngIf="submitted && form.get('nome')?.errors?.['required']" >
                        O nome é obrigatório.
                    </small>
                    <small *ngIf="form.get('nome')?.errors?.['minlength']">
                        O nome deve ter pelo menos 3 caracteres.
                    </small>
                </div>
            </div>
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Email*</label>
                <input 
                    id="email" 
                    type="email" 
                    formControlName="email" 
                    name="email" 
                    class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm" 
                    placeholder="Seu melhor email!" 
                    required
                >
                <div *ngIf="submitted && form.get('email')?.invalid" class="text-red-600">
                    <small *ngIf="form.get('email')?.errors?.['required']">
                        O email é obrigatório.
                    </small>
                    <small *ngIf="form.get('email')?.errors?.['email']">
                        O email é inválido.
                    </small>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-2">

                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">CPF/CNPJ</label>
                    <input 
                        id="cpf" 
                        type="text" 
                        formControlName="cpf"
                        [mask]="mask"
                        name="cpf" 
                        class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm" 
                        placeholder="CPF" 
                        required
                    >
                    <div *ngIf="submitted && form.get('cpf')?.invalid" class="text-red-600">
                        <small *ngIf="submitted && form.get('cpf')?.errors?.['required']" >
                            O CPF é obrigatório.
                        </small>
                        <small *ngIf="form.get('cpf')?.errors?.['minlength']">
                            O CPF deve ter pelo menos 11 caracteres.
                        </small>
                    </div>
                </div>
                
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Data de Nascimento</label>
                    <input 
                        id="data_nascimento" 
                        type="date" 
                        formControlName="data_nascimento" 
                        name="data_nascimento" 
                        class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm" 
                        placeholder="Seu melhor email!" 
                        required
                    >
                    <div *ngIf="submitted && form.get('data_nascimento')?.invalid" class="text-red-600">
                        <small *ngIf="submitted && form.get('data_nascimento')?.errors?.['required']" >
                            a data de nascimento é obrigatório.
                        </small>
                    </div>
                </div>
                
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Senha</label>
                <input 
                    id="password" 
                    type="password" 
                    formControlName="password" 
                    class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm" 
                    placeholder="Senha" 
                    required
                >
                <div *ngIf="submitted && form.get('password')?.invalid" class="text-red-600">
                    <small *ngIf="submitted && form.get('password')?.errors?.['required']" >
                        senha é obrigatório.
                    </small>
                    <small *ngIf="form.get('password')?.errors?.['minlength']">
                        A senha deve ter pelo menos 6 caracteres.
                    </small>
                </div>
            </div>


            <div>
                <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirmar Senha</label>
                <input 
                    id="confirm_password" 
                    type="password"
                    formControlName="confirm_password" 
                    class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm" 
                    placeholder="Senha" 
                    required
                >
                <div *ngIf="submitted && form.get('confirm_password')?.invalid"  class="text-red-600">
                    <small *ngIf="submitted && form.get('confirm_password')?.errors?.['required']">
                        a confirmação de senha é obrigatório.
                    </small>
                    <small *ngIf="form.get('confirm_password')?.errors?.['minlength']">
                        A confirmação de senha deve ter pelo menos 6 caracteres.
                    </small>
                </div>
            </div>            

            <div>
                <button type="submit"  class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">Registrar</button>
            </div>
        </form>
    </div>
</div>
